:root {
    --grey: rgb(225, 225, 225);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --_grey: rgb(200, 200, 200);
    --lightgray: rgb(240, 240, 240);
    --tri: rgb(27, 97, 210);
}

.dark-mode {
    --grey: rgb(20, 20, 20);
    --white: rgb(30, 30, 30);
    --black: rgb(255, 255, 255);
    --_grey: rgb(50, 50, 50);
    --lightgray: rgb(25, 25, 25);
}

body {
    font-family: 'Open Sans', sans-serif;
    display: block;
    overflow: hidden;
    background-color: var(--lightgray);
}



#header {
    width: 95vw;
    min-height: 5vh;
    background-color: var(--grey);
    margin:auto;
}

#main {
    max-width: 94.2vw;
    height: 85vh;
    margin: auto;
    text-align: center;
    overflow: hidden;
    box-shadow: -0.4vw 0vw 0vw 0vw var(--grey), 0.4vw 0vw 0vw 0vw var(--grey);

}

#table {
    max-width: 95vw;
    overflow: hidden;
}
    

#footer {
    width: 95vw;
    height: 5vh;
    background-color: var(--grey);
    margin: auto;
    z-index: 7;
   
}
table {
    width: 95vw;
    margin: auto;
    background-color: var(--grey);
}
tr {
    width: 95vw;
    background-color: var(--grey);
    color: var(--black);
    margin: auto;
    offset: 0.4vw;
}

td {
    width: 19vw;
    text-align: center;
    background-color: var(--grey);
    color: var(--black);
    font-size: 2.4vh;
}

.btn {
    text-align: center;
    background-color: var(--grey);
    color: var(--black);
    border: none;
    width: 7vw;
    height: 4vh;
    font-size: 2.4vh;
}

.btn:hover {
    background-color: var(--_grey)
}

.menu-btn {
    text-align: center;
    background-color: var(--grey);
    color: var(--black);
    border: none;
    width: 7vw;
    height: 4vh;
    border-radius: 1.5vw;
    font-size: 2.4vh;
    font-weight: bold;

}

.menu-btn:hover {
    background-color: var(--_grey)
}

#whiteboard {
    position: absolute;
    width: 94.2vw;
    height: 85vh;
    margin: auto;
    background-color: var(--white);
    overflow: scroll;
    z-index: 9;
    
   
}
#whiteboard::-webkit-scrollbar{
    display: none;
  }


.men {
    height: 5vh
}

.menue {
    display:none;
    position: fixed;
}

.text {
    text-align: left;
    font-size: 7px;
    font-weight: bold;
    color: var(--black);
    border: 0.5px solid var(--black);
    background-color: var(--white);
    margin : 0;
    height: 9px;
    width: 16px;
}

.text-box {
    width: 16px;
    height: 9px;
    position: absolute;
    display: inline-block;
    z-index: 10;
}

.rectangle {
    width: 10px;
    height: 10px;
    background-color: var(--tri);
    border: 0.5px solid var(--black);
    display: inline-block;
    position: absolute;
    z-index: 10;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: var(--tri);
    border: 0.5px solid var(--black);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 10;
}

.triangle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: transparent; 
    text-align: center;
    position: absolute;
    z-index: 10;

}

.triangle:before {
    width: 0px;
    height: 0px;

    border-top: 0px solid transparent; 
    border-right: 6px solid transparent; 
    border-bottom: 12px solid var(--black);
    border-left: 6px solid transparent; 

    position: absolute;
    /* content: "2"; */
    content: "";
    left: 0;
}


.triangle:after {
    width: 0px;
    height: 0px;

    border-top: 0px solid transparent; 
    border-right: 5px solid transparent; 
    /*  border-bottom: 120px solid limegreen;  */
    border-bottom: 10px solid var(--tri);
    border-left: 5px solid transparent; 

    position: absolute;
    /* content: "3"; */
    content: "";

    left: 1px;
    top: 1.5px;

    
}

.context-menu {
    position: absolute;
    background-color: var(--grey);
    border: none;
    font-weight: bold;
    margin-left: 11px;
}

.context-menu button {
    background-color: var(--grey);
    border: none;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
    margin: 0; 
}

.context-menu button:hover {
    background-color: var(--_grey);
}


.draggable { 
    text-align: center;
    cursor: move;
    z-index: 10;
  }


  #fffeld {
    max-width: 19vw;
  }
  #fftable {
    max-width: 19vw;
  }
  #ftable {
    max-width: 19vw;
  }
.btn-c {
    text-align: center;
    border : solid 0.5px var(--black);
    min-width: 0.7vw;
    min-height: 0.7vh;
    margin: 0;
    font-size: 0px;
}


.btn-c:hover {
    border: solid 0.5px var(--white);
}




#BLUE {
    background-color: rgb(27, 97, 210);
}

#RED {
    background-color: rgb(255, 0, 0);
}

#GREEN {
    background-color: rgb(20, 107, 23);
}

#YELLOW {
    background-color: rgb(248, 220, 12);
}

#ORANGE {
    background-color: rgb(237, 146, 9);
}

#PURPLE {
    background-color: rgb(80, 9, 92);
}

#BLACK {
    background-color: rgb(0, 0, 0);
}

#WHITE {
    background-color: rgb(255, 255, 255);
}

.invisible {
    display: none;
}

.blue {
    --tri: rgb(27, 97, 210);
}

.red {
    --tri: rgb(255, 0, 0);
}

.green {
    --tri: rgb(20, 107, 23);
}

.yellow {
    --tri: rgb(248, 220, 12);
}

.orange {
    --tri: rgb(237, 146, 9);
}

.purple {
    --tri: rgb(80, 9, 92);
}

.black {
    --tri: rgb(0, 0, 0);
}

.white {
    --tri: rgb(255, 255, 255);
}


.r_clicked2 {
    border: solid 0.5px var(--lightgray);
}



